<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutus.css') }}">
</head>

<body>
    <div class="about-section">
        <h1>About Us Page</h1>
        <p>A CRUD operations application.</p>

    </div>

    <h2 style="text-align:center">Developed By</h2>
    <div class="row">
        <div class="column">
            <div class="card">

                <div class="container" >
                    <h2>Parminder Sidhu</h2>                    
                    <p>A Software Developer with 3 years of experince in Application Developement.</p>
                    <p>psidhu5944@gmail.com</p>
                    <a href="/contactpage">
                        <button class="button">Contact</button></p>
                    </a>
                        
                    <a href="/">
                        <button class="button">Back To Home</button>
                    </a>
                </div>
            </div>
        </div>


</body>

</html>